<main class="container-fluid">

  <!-- Toolbar  -->
  <div class="row">
    <div class="col-xs">
      <md-toolbar color="primary">
        <span>{{title}}</span>
        <span class="toolbar-spacer"></span>
        <md-icon class="toolbar-icon">verified_user</md-icon>
      </md-toolbar>
    </div>
  </div>


  <!-- Navigation tab bar  -->
  <div class="row">
    <div class="col-xs">
      <nav md-tab-nav-bar>
        <a md-tab-link
          *ngFor="let navRoute of navRoutes"
          [routerLink]="navRoute.path"
          routerLinkActive
          #rla="routerLinkActive"
          [routerLinkActiveOptions]="{exact: true}"
          [active]="rla.isActive">
          {{navRoute.label}}
        </a>
      </nav>
    </div>
  </div>

  <!--  Page Content  -->
  <div class="row">
    <div class="col-xs">
      <router-outlet></router-outlet>
    </div>
  </div>

</main>